#dm__home-portfolio-container {
    background-color: desaturate($blue, 8%);
    color: $white;
    position: relative;
    padding-top: 30vw;
    padding-bottom: 16vw;

    .dm__bg-shape {
        position: absolute;
        top: -2px;
        left: 0;
        width: 100%;
        
        svg {
            display: block;
        }
    }

    .dm__container.med {
        position: relative;
        max-width: 1200px;
    }

    h3 {
        display: inline-block;
        font-size: 14vw;
        position: relative;
        margin-bottom: 5rem;
        line-height: 1.1;
        padding-top: 1rem;

        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            height: 1px;
            width: 38.2%;
            background-color: $white;
        }
    }

    .dm__portfolio-piece {
        border-radius: 32px;
        padding-top: 75%;
        position: relative;
        overflow: hidden;
        margin-bottom: 3rem;
        font-size: 1.1rem;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: transparent;
            background: linear-gradient(-0, rgba($deep-blue,.8) 0%, rgba(0,0,0,0) 100%);
        }

        img {
            position: absolute;
            display: block;
            object-fit: cover;
            object-position: center;
            min-width: 100%;
            min-height: calc(100% + 108px);
            top: 0;
            left: 0;
        }

        .dm__portfolio-piece-footer {
            padding: 32px;
            position: relative;
            z-index: 1;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;

            p {
                margin: 0;
            }

            .btn-arrow-link {
                display: flex;
                align-items: center;
                justify-content: center;
                flex: 0 0 42px;
                width: 42px;
                height: 42px;
                border-radius: 50%;
                background-color: $site-bg;
                cursor: pointer;
                margin-left: 1rem;

                .icon {
                    display: block;
                    width: 16px;
                    height: 14px;
                    transform: rotate(-45deg);

                    svg {
                        display: block;
                        color: $font-color;
                    }
                }

                &:hover {
                    transform: scale(1.2);
                    background-color: $orange;
                }
            }
        }
    }

    @media #{$m-and-up} {
        .dm__portfolio-piece {
            font-size: 1.25rem;
        }
    }

    @media #{$xl-and-up} {
        padding-top: 24vw;
        padding-bottom: 12vw;

        .dm__home-portfolio-header {
            margin-bottom: 8vw;

            h3 {
                font-size: 10vw;
                margin-bottom: 0;
            }
        }

        .dm__flex-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 8vw;

            &:last-child {
                margin-bottom: 0;
            }

            &.row-2 {
                justify-content: center;
            }

            .dm__portfolio-container {
                flex: 0 0 55%;
                max-width: 55%;
                width: 55%;

                &.small {
                    flex: 0 0 32%;
                    max-width: 32%;
                    width: 32%;
                }
            }
        }

        .dm__portfolio-piece {
            font-size: 1.5rem;
        }
    }

    @media #{$xxl-and-up} {
        padding-bottom: 10vw;

        .dm__home-portfolio-header {
            h3 {
                font-size: 12rem;
            }
        }
    }
}