#dm__home-banner-container {
    position: relative;
    color: $white;
    background-color: $deep-blue;

    #dm__home-banner-media-container {
        position: absolute;
        overflow: hidden;
        width: 100%;
        height: 100%;

        #dm__home-banner-image-container {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: calc(100% + 400px);
            overflow: hidden;
    
            img, video {
                object-fit: cover;
                object-position: 50% 50%;
                min-width: 100%;
                min-height: 100%;
                display: block;
            }
    
            &:before {
                z-index: 10;
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 40%;
                background: transparent;
                background: linear-gradient(180deg, rgba($deep-blue,.5) 0%, rgba(0,0,0,0) 100%);
            }
    
            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba($black, .2);
            }
        }
    }

    .dm__bg-shape {
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 100%;

        svg {
            display: block;
        }
    }

    .dm__container {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .dm__content-1 {
            width: 100%;
            flex: 0 0 100%;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: flex-start; 
            padding-top: 208px; 
            padding-bottom: 2rem; 
            font-size: 1.25rem;

            .dm__m-top-auto {
                margin-top: auto;
                margin-bottom: 2rem;
            }

            h1 {
                font-size: 16vw;
                line-height: 1.1;

                br {
                    display: none;
                }
            }

            .dm__scroll-icon {
                display: inline-block;
                padding-top: 2rem;

                .icon {
                    svg {
                        width: 20px;
                        height: 22px;
                        transform: rotate(90deg);

                        path {
                            fill: $white !important;
                        }
                    }
                }

                .text {
                    display: none;
                }
            }
        }

        .dm__content-2 {
            padding-bottom: 208px;
            font-size: 1.25rem;

            br {
                display: none;
            }
        }
    }

    @media #{$m-and-up} {
        
    }

    @media #{$l-and-up} {
        .dm__container {
    
            .dm__content-1 {
                min-height: 100vh;
    
                h1 {
                    font-size: 14vw;
                    line-height: 1.1;
    
                    br {
                        display: inline;
                    }
                }
            }
    
            .dm__content-2 {
                br {
                    display: inline;
                }
            }
        }
    }

    @media #{$xl-and-up} {
        .dm__container {
            .dm__content-1 {
                padding-top: 0;
                font-size: 1.4rem;

                .dm__m-top-auto {
                    padding-top: 30vw;
                    margin-top: 0;
                    margin-bottom: 3rem;
                }
    
                h1 {
                    font-size: 14vw;
                    line-height: 1.1;
    
                    br {
                        display: inline;
                    }
                }

                .dm__scroll-icon {
                    pointer-events: none;
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100vh;
                    opacity: .7;

                    .icon {
                        display: none;
                    }

                    .text {
                        font-size: 1.4rem;
                        display: block;
                        font-weight: 400;
                        position: absolute;
                        bottom: 3rem;
                        right: 0;
                    }
                }
            }
    
            .dm__content-2 {
                font-size:1.4rem;
                margin-top: 5rem;
                padding-bottom: 30vw;
            }
        }
    }

    @media #{$xxl-and-up} {
        .dm__container {
            .dm__content-1 {
                padding-top: 0;
                font-size: 1.6rem;

                .dm__m-top-auto {
                    padding-top: 24vw;
                }
            }
    
            .dm__content-2 {
                font-size:1.6rem;
                padding-bottom: 24vw;
            }
        }
    }
}