

// Navbar
#dm__navbar-container {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 108px;
    align-items: center;
    pointer-events: none;

    &.is-dark {
        #dm__navbar-logo {
            svg {
                path, circle, rect {
                    fill: $font-color !important;
                }
            }
        }
        #dm__navbar {
            #dm__mobile-nav, #dm__nav-call-to-action {
                .btn, .btn:visited {
                    background-color: $deep-blue;
                    color: $white;
                }

                .btn:hover, .btn:focus {
                    background-color: $orange;
                    color: $font-color;
                }
                
                .dm__nav-toggle {
                    color: $font-color; 

                    .dm__nav-toggle-icon {
                        span {
                            background-color: $font-color;
                        }
                    }
                }
            }
        }
    }

    &[data-nav-active=true] {
        #dm__navbar-logo {
            svg {
                path, circle, rect {
                    transition: $transition;
                    fill: $white !important;
                }
            }
        }

        #dm__navbar {
            #dm__mobile-nav, #dm__nav-call-to-action {
                .btn, .btn:visited {
                    background-color: lighten($site-bg, 5%);
                    color: $font-color;
                }

                .btn:hover, .btn:focus {
                    background-color: $orange;
                    color: $font-color;
                }

                .dm__nav-toggle {
                    color: $white !important;
                    transition: $transition;

                    .dm__nav-toggle-icon {
                        span {
                            position: absolute;
                            transition: $transition;
                            background-color: $white !important;
                            margin: 0 !important;
                            top: 50% !important;
                            left: 50% !important;
                            transform: translate(-50%, -50%) rotate(45deg);

                            &:last-child {
                                transform: translate(-50%, -50%) rotate(-45deg);
                            }
                        }
                    }
                }
            }
        }
    }

    .dm__container {
        height: 108px;
        display: flex;
        align-items: center;
    }

    #dm__navbar-logo {
        margin-right: auto; 
        pointer-events: auto;
        
        svg {
            display: block;
            height: 32px;

            path, circle, rect {
                transition: all 0.4s ease 0s;
                fill: $white !important;
            }

            .dm__logo-text {
                display: none;
            }
        }
    }

    #dm__navbar {
        display: flex;
        margin-left: auto;

        #dm__nav {
            pointer-events: auto;
            display: none;
            list-style: none;
            padding: 0;
            margin: 0;
        }

        #dm__mobile-nav, #dm__nav-call-to-action {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;

            .btn, .btn:visited {
                pointer-events: auto;
                mix-blend-mode: normal;
                display: block;
                height: 42px;
                line-height: 42px;
                padding-left: 1rem;
                padding-right: 1rem;
                font-size: .75rem;
                background-color: lighten($site-bg, 5%);
                box-shadow: 0 8px 17px 2px rgba(0,0,0, .07), 0 3px 14px 2px rgba(0,0,0, .06), 0 5px 5px -3px rgba(0,0,0, .1);
            }

            .btn:hover, .btn:focus {
                background-color: $orange;
            }
            
            .dm__nav-toggle {
                pointer-events: auto;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                width: 64px;
                height: 64px;
                cursor: pointer;
                margin-left: .5rem;
                transition: all 0.4s ease 0s;

                .dm__nav-toggle-icon {
                    width: 24px;
                    height: 14px;
                    position: relative;
                    display: inline-block;

                    span {
                        display: block;
                        width: 100%;
                        height: 2px;
                        background-color: $white;
                        position: absolute;
                        top: 0;
                        left: 0;
                        transition: all 0.4s ease 0s;

                        &:nth-child(2) {
                            top: 50%;
                            margin-top: -1px;
                        }

                        &:nth-child(3) {
                            top: 100%;
                            margin-top: -2px;
                        }
                    }
                }

                .dm__nav-toggle-text {
                    display: none;
                }
            }
        }

        #dm__nav-call-to-action {
            display: none;
        }
    }

    @media only screen and (max-width: 320px) {
        #dm__navbar {
            #dm__mobile-nav {
                .btn {
                    display: none;
                }
            }
        }
    }

    @media #{$m-and-up} {
        #dm__navbar-logo {
            svg {
                height: 36px;
    
                .dm__logo-text {
                    display: block;
                }
            }
        }
    }

    @media #{$xl-and-up} {
        height: 156px;

        &[data-nav-active=true] {
            #dm__navbar {
                #dm__mobile-nav, #dm__nav-call-to-action {
                    .dm__nav-toggle, .dm__nav-toggle:visited {
                        .dm__nav-toggle-text {
                            opacity: 0;
                            transition: opacity 0.4s ease;
                        }
    
                        .dm__nav-toggle-text.close {
                            opacity: 1;
                        }
                    }
                }
            }
        }

        .dm__container {
            height: 156px;
        }

        #dm__navbar-logo {
            margin-right: 0;

            svg {
                height: 42px;
            }
        }

        #dm__navbar {
            display: flex;
            flex-grow: 1;
            align-items: center;
            justify-content: end;
            margin-left: auto;
    
            #dm__nav {
                display: flex;
                margin-right: 2rem;
                position: relative;
                margin-left: auto;
                margin-right: auto;

                .dm__nav-background {
                    position: absolute;
                    top: 100%;
                    left: 0;
                    width: 100%;
                    pointer-events: none;
                    background-color: lighten($site-bg, 5%);
                    box-shadow: 0 8px 17px 2px rgba(0, 0, 0, .07), 0 3px 14px 2px rgba(0, 0, 0, .06), 0 5px 5px -3px rgba(0, 0, 0, .1);
                    border-radius: 10px;
                    opacity: 0;
                    z-index:90;

                    .dm__nav-background-arrow {
                        background-color: lighten($site-bg, 5%);
                        width: 10px;
                        height: 10px;
                        border-radius: 3px;
                        position: absolute;
                        top: -5px;
                        transform: rotate(45deg);
                    }
                }

                &:hover {
                    a {
                        opacity: .5;
                    }
                }

                li {
                    z-index: 99;
                }

                a, a:visited {
                    display: block;
                    color: $white;
                    height: 56px;
                    line-height: 56px;
                    padding-left: 1.5rem;
                    padding-right: 1.5rem;
                    white-space: nowrap;

                    .text-small {
                        font-size: .5rem;
                        vertical-align: top;
                    }
                }

                a:hover, a:focus {
                    opacity: 1;
                }

                .dm__has-children {
                    ul {
                        list-style: none;
                        padding: 32px 1.5rem;
                        margin: 0;
                        width: 100%;
                        display: none;
                        // visibility: hidden;
                        position: absolute;
                        top: 100%;
                        left: 0;
                        padding: 1.5rem;
                        border-radius: 10px;
                        background-color: transparent;
                        opacity: 0;

                        a, a:visited {
                            display: inline-block;
                            padding-left: 0;
                            padding-right: 0;
                            color: $font-color;
                        }
                    }
                }
            }
    
            #dm__mobile-nav, #dm__nav-call-to-action {
                list-style: none;
                padding: 0;
                margin: 0;
                display: flex;
                align-items: center;
    
                .btn {
                    height: 56px;
                    line-height: 56px;
                    padding-left: 2rem;
                    padding-right: 2rem;
                    font-size: 1rem;
                }
                
                .dm__nav-toggle, .dm__nav-toggle:visited {
                    display: flex;
                    width: auto;
                    padding-left: 1rem;
                    padding-right: 1rem;
                    height: 56px;
                    cursor: pointer;
                    margin-left: 1rem;
                    color: $white;

                    .dm__nav-toggle-icon {
                        width: 24px;
                        height: 14px;
                    }

                    .dm__relative {
                        position: relative;
                        margin-left: 12px;
                    }
    
                    .dm__nav-toggle-text {
                        display: block;
                        text-transform: uppercase;
                        letter-spacing: .1em;
                        font-size: .875rem;
                        position: relative;
                        opacity: 1;
                        transition: opacity 0.4s ease 1s;
                    }

                    .dm__nav-toggle-text.close {
                        opacity: 0;
                        position: absolute;
                        top: 0;
                        left: 0;
                        margin-left: 0;
                    }
                }
            }

            #dm__mobile-nav {
                opacity: 0;
                display: none;
            }
        }
    }

    @media #{$xxl-and-up} {
        #dm__navbar-logo {
            svg {
                height: 42px;
            }
        }
    }
}


// Offcanvas nav
#dm__offcanvas-nav-container {
    z-index: 90;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: none;
    padding-top: 208px;
    padding-bottom: 108px;
    overflow-x:hidden;
    overflow-y: auto;

    .dm__container {
        min-height: calc(100vh - 316px);
        position: relative;
    }

    #dm__offcanvas-nav {
        margin: 0;
        padding: 0;
        list-style: none;

        &> li {
            display: block;
            padding-right: 2rem;
            transition: none;
        }

        a, a:visited {
            color: $white;
            display: inline-block;
            white-space: nowrap;
            font-size: 2.5rem;
            font-weight: 700;
            opacity: 1;
            position: relative;
            overflow: hidden;
            transition: color 0.4s ease, transform 0.4s ease;

            span {
                position: relative;
                display: block;
                opacity: .5;
                transition: opacity 0.4s ease;
            }
        }

        a:hover, a:focus {
            opacity: 1;
            transform: translateX(.5rem);
            color: $orange;

            span {
                opacity: 1 !important;
                
                &:before, &:after {
                    opacity: 1;
                    background-color: $orange !important;
                    transform: translate(0, -50%) rotate(90deg) !important;
                }
    
                &:after {
                    background-color: $orange !important;
                    transform: translate(0, -50%) rotate(180deg) !important;
                }
            }
        }

        .dm__has-children > a {
            span {
                opacity: .5;
                padding-right: 3rem;

                &:before, &:after {
                    transition: $transition;
                    position: absolute;
                    content: '';
                    top: 50%;
                    right: 0;
                    width: 16px;
                    height: 4px;
                    background-color: $white;
                    transform: translate(0, -50%);
                }
    
                &:after {
                    transform: translate(0, -50%) rotate(90deg);
                }
            }
        }

        .dm__has-children ul {
            display: none;
            list-style: none;
            padding: 0;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            min-width: 100%;
            transform: scale(.8);

            a, a:visited {
                font-size: 1.1rem;
                display: block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                line-height: 2;
                width: 100%;
                opacity: .5;
                transition: $transition;

                .text-small {
                    font-size: .875rem;
                    vertical-align: top;
                }

                &.dm__nav-back {
                    padding-left: 2rem;
                    transition: $transition;
                    position: relative;
                    font-style: italic;

                    &:before {
                        content: '';
                        width: 8px;
                        height: 8px;
                        border-left: 2px solid $white;
                        border-bottom: 2px solid $white;
                        position: absolute;
                        top: 50%;
                        left: 4px;
                        transform: translate(0, -50%) rotate(45deg);
                    }
                }

                span {
                    display: inline;
                    opacity: 1;
                }
            }

            a:hover, a:focus {
                opacity: 1;

                &.dm__nav-back {
                    opacity: 1;

                    &:before {
                        border-left: 2px solid $orange;
                        border-bottom: 2px solid $orange;
                    }
                }
            }
        }
    }

    @media #{$m-and-up} {
        #dm__offcanvas-nav {
            a, a:visited {
                font-size: 3rem;
                line-height: 1.5;
            }
        }
    }

    @media #{$l-and-up} {
        padding-top: 206px;
        padding-bottom: 156px;

        .dm__container {
            min-height: calc(100vh - 362px);
            display: flex;
            align-items: center;
        }

        #dm__offcanvas-nav {
            a, a:visited {
                font-size: 4rem;
                line-height: 1.4;
            }

            a:hover, a:focus {
                transform: translateX(1rem);
            }

            .dm__has-children > a {            
                span {
                    padding-right: 4rem;

                    &:before, &:after {
                        width: 24px;
                        height: 4px;
                    }
                }
            }

            .dm__has-children ul {
                a, a:visited {
                    font-size: 1.5rem;
                    line-height: 2;
                }
            }
        }
    }

    @media #{$xl-and-up} {
        #dm__offcanvas-nav {
            a, a:visited {
                font-size: 6rem;
            }

            .dm__has-children > a {
                span {
                    padding-right: 6rem;

                    &:before, &:after {
                        width: 32px;
                        height: 6px;
                    }
                }
            }

            .dm__has-children ul {
                a, a:visited {
                    font-size: 2rem;
                    line-height: 2;
                }
            }
        }
    }
}

// Offcanvas Background
#dm__offcanvas-nav-bg-one, #dm__offcanvas-nav-bg-two {
    z-index: 80;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: $deep-blue;
    transform-origin: 100% 0%;
}



@media (prefers-color-scheme: dark) {

}
